node_modules
.next
.git
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.dockerignore
Dockerfile
README.md
docker-compose.yml
cloudbuild.yaml
.agent
.github
.vscode
*.tsbuildinfo
